/target/
/nbproject/
/c-projects/graph-caratheodory-serial/build/
/c-projects/graph-caratheodory-serial/dist/
/c-projects/graph-hull-number-serial/build/
/c-projects/graph-hull-number-serial/dist/
/.idea/
/c-projects/blank-c/build/
/c-projects/blank-c/dist/
/c-projects/blank-cpp/dist/
/c-projects/blank-cpp/build/
/c-projects/graph-caratheodory-parallel/bin/
/c-projects/graph-hull-number-aprox/build/
/c-projects/graph-hull-number-aprox/dist/
/c-projects/ConvexityP3/dist/
/c-projects/ConvexityP3/build/
/c-projects/school-prototyping-base-udm/target/
/c-projects/graph-caratheodory-parallel/graphNCaratheodory.o
/c-projects/graph-caratheodory-parallel/graphNCaratheodory.o
/c-projects/graph-caratheodory-parallel/graphNCaratheodory.o
/nb-configuration.xml
/dependency-reduced-pom.xml
c-projects/blank-c/last-compilation.log
.gitignore
*/**/last-compilation.log
/src/main/resources/static/node_modules/
/c-projects/graph-hull-number-serial/last-compilation.log.orig
/c-projects/graph-hull-number-parallel/last-compilation.log.orig
/c-projects/graph-hull-number-aprox-parallel/last-compilation.log.orig
/c-projects/graph-hull-number-aprox/last-compilation.log.orig
/c-projects/blank-cpp/last-compilation.log.orig
/c-projects/blank-c/last-compilation.log.orig
