<!DOCTYPE html>
<html lang="en">
    <!--References: http://bl.ocks.org/mbostock/4062045-->
    <head>
        <meta charset="utf-8">
        <title>Graph Problems</title>
        <script src="assets/js/d3.v3.min.js" charset="utf-8"></script>
        <script src="assets/js/jquery.min.js"></script>
        <link  href="assets/css/bootstrap.min.css" rel="stylesheet">
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/angular-resource.min.js"></script>
        <script src="assets/js/angular-route.min.js"></script>
        <script src="assets/js/filesaver.min.js"></script>

        <style>
            .node {
                fill: #000;
                cursor: crosshair;
            }

            .node_selected {
                fill: #ff7f0e;
                stroke: #ff7f0e;
                stroke-width: 2.5px;
            }

            .drag_line {
                stroke: #999;
                stroke-width: 5;
                pointer-events: none;
            }

            .drag_line_hidden {
                stroke: #999;
                stroke-width: 0;
                pointer-events: none;
            }

            .link {
                stroke: #999;
                stroke-width: 5;
                cursor: crosshair;
            }

            .link_selected {
                stroke: #ff7f0e;
            }

            .node title, .node text {
                pointer-events: none;
                font: 10px sans-serif;
            }

            .node.fixed {
                fill: #f00;
            }

            samp {
                overflow: auto;
                word-wrap: normal;
                white-space: pre;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Graph Problems</h1>
        </div>

        <div class="container-fluid" ng-app="appCaratheodroyNumber" 
             ng-controller="caratheodoryNumberController">
            <div class="row">
                <div class="col-md-3">
                    <fieldset>
                        <legend>Generate</legend>
                        <div class="form-group">
                            <label for="typeG">Type</label>
                            <select type="select" class="form-control"
                                    ng-model="typeGraph"
                                    id="typeG" name="typeG"
                                    ng-options="option.key for option in generators track by option.key">
                            </select>
                        </div>

                        <div class="form-group" 
                             ng-repeat="p in typeGraph.value track by $index">                            
                            <label>{{p}}</label>
                            <input type="text" 
                                   ng-model="mapParam[p]"
                                   class="form-control"
                                   autofocus>
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="generateGraph();" 
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-repeat"></span>
                                Generate graph
                            </button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Graph</legend>
                        <div class="form-group">
                            <label>Vertices({{graph.vertexCount}})</label>
                            <input class="form-control" disabled
                                   ng-model="graph.vertices" />
                        </div>
                        <div class="form-group">
                            <label>Edges({{graph.edgeCount}})</label>
                            <input class="form-control" disabled
                                   value="{{graph.edgeString}}" />
                        </div>

                        <div class="form-group">
                            <input name="file" id="file" 
                                   class="form-control" type="file"
                                   ng-file-select="onFileSelect($file)">
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadGraphCsr();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download (csr)
                            </button>
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadGraph();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download (json)
                            </button>
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadGraphMat();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download (mat)
                            </button>
                            <button class="btn btn-primary btn-sm" 
                                    ng-click="downloadAllResult();">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                Download All Results (zip)
                            </button>
                            <button ng-click="uploadedFile()" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                Upload
                            </button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Problem</legend>
                        <div class="form-group">
                            <label for="typeT">Type</label>
                            <select type="select" class="form-control"
                                    ng-model="typeOperation" id="typeT" name="typeT">
                                <option ng-repeat="option in typeOperations" 
                                        ng-value="option">{{option}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="typeO">Operation</label>
                            <select class="form-control" name="typeOperation"
                                    ng-model="operation"
                                    id="typeOperation">
                                <option value=""></option>
                                <option ng-repeat="y in operations| filter:typeOperation" 
                                        value="{{y.key}}">{{y.key}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Input</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="inputData">
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="executeOperation();" ng-disabled="processing"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-certificate"></span>
                                Execute
                            </button>
                        </div>

                        <div class="form-group pull-right">
                            <button ng-click="cancelOperation();" ng-disabled="!processing"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove"></span>
                                Cancel
                            </button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Result</legend>
                        <div class="form-group" 
                             ng-repeat="(key, value) in mapResult">
                            <label>{{key}}</label>
                            <input class="form-control" 
                                   ng-model="value"
                                   disabled readonly>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Graph</h2>
                        </div>

                        <div class="panel-body">
                            <div id="grafo" class="form-group" style="height: 1000px;">

                            </div>
                        </div>

                        <div id="spinner" ng-show="processing">
                            <img src="assets/img/spinner.gif" alt="">
                        </div>

                        <div class="well well-sm pre-scrollable">
                            <samp ng-repeat="l in outputConsole track by $index">{{l + '\n'}}</samp>
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search result" 
                                   ng-model="searchName">
                        </div>    
                        <div class="table-responsive">
                            <table id="result-table" 
                                   class="table table-bordred table-striped">
                                <thead>
                                <th>#</th>
                                <th>S</th>
                                <th>
                                    <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                                        Type
                                        <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'operation'; sortReverse = !sortReverse">
                                        Operation
                                        <span ng-show="sortType == 'operation' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'operation' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'graph'; sortReverse = !sortReverse">
                                        Graph
                                        <span ng-show="sortType == 'graph' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'graph' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>                                    
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'vertices'; sortReverse = !sortReverse">
                                        Vertices
                                        <span ng-show="sortType == 'vertices' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'vertices' && sortReverse" class="fa fa-caret-up"></span>
                                    </a> 
                                </th>
                                <th>Edges</th>
                                <th>
                                    <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>                                    
                                </th>
                                <th>Result</th>
                                <th>Output</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in results| orderBy:sortType:sortReverse | filter: {'type' : typeOperation} | filter: {'operation' : operation} | filter:searchName">
                                        <td>{{obj.id}}</td>
                                        <td>
                                            <span ng-if="obj.status == 'ok'" class="glyphicon glyphicon-ok alert-info"></span>
                                            <span ng-if="obj.status == 'error'" class="glyphicon glyphicon-remove alert-danger"></span>
                                        </td>
                                        <td>{{obj.type}}</td>
                                        <td>{{obj.operation}}</td>
                                        <td><a href ng-click="openGraph(obj.graph)">{{obj.name}}</a></td>
                                        <td>{{obj.vertices}}</td>
                                        <td>{{obj.edges}}</td>
                                        <td>{{obj.date}}</td>
                                        <td><pre>{{obj.results}}</pre></td>
                                        <td>        
                                            <button type="button" class="btn btn-default btn-md">
                                                <span class="glyphicon glyphicon-modal-window"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <footer class="footer"> 
            <p>  
                <span class="text-muted">
                    Developing and Credits: <a target="_blank" href="https://github.com/braully">Braully Rocha</a>, <a target="_blank" href="http://www.inf.ufg.br/node/112">Erika Morais Martins Coelho</a> and <a target="_blank" href="http://www.inf.ufg.br/node/226">Hebert Coelho</a>
                </span>
            </p>
        </footer>

        <script>
            var app = angular.module('appCaratheodroyNumber', []);
            app.controller('caratheodoryNumberController', function ($scope, $http, $timeout) {
                $scope.nvertices = 5;
                $scope.minDegree = 1;
                $scope.maxDegree = 2.0;
                $scope.results = null;
                $scope.generators = null;
                $scope.operations = null;
                $scope.typeOperations = '';
                $scope.operation = '';
                $scope.processing = false;
                $scope.lastProcessing = 0;
                $scope.typeOperation = {};
                $scope.typeGraph = {};
                $scope.mapParam = new Map();
                $scope.inputData = null;
                $scope.outputConsole = [''];
                $scope.graph = null;
                $scope.file = null;
                $scope.mapResult = new Map();
                $scope.sortType = 'id';
                $scope.searchName = '';
                $scope.sortReverse = false;
                $scope.caratheodory = {number: null, set: [], aux: [], hs: [], phs: []};
                $scope.downloadGraph = function () {
                    var filename = 'graph-' + $scope.graph.name + '.json';
                    var textContent = JSON.stringify($scope.graph, null, '\t');
                    var blob = new Blob([textContent], {type: "text/plain;charset=utf-8"});
                    saveAs(blob, filename);
                };
                $scope.downloadGraphCsr = function () {
                    $http.post('rest/graph/download-graph-csr', $scope.graph).success(function (textContent) {
                        var filename = 'graph-' + $scope.graph.name + '.csr';
                        var blob = new Blob([textContent], {type: "text/plain"});
                        saveAs(blob, filename);
                    });
                };
                $scope.downloadGraphMat = function () {
                    $http.post('rest/graph/download-graph-mat', $scope.graph).success(function (textContent) {
                        var filename = 'graph-' + $scope.graph.name + '.mat';
                        var blob = new Blob([textContent], {type: "text/plain;charset=utf-8"});
                        saveAs(blob, filename);
                    });
                };
                $scope.downloadAllResult = function () {
                    $http.get('rest/graph/download-all-result', {responseType: 'arraybuffer'}).then(function (response) {
                        var filename = 'all-results.zip';
                        var blob = new Blob([response.data], {type: "application/binary"});
                        saveAs(blob, filename);
                    });
                };
                $scope.openGraph = function (g) {
                    $http.get('rest/graph/open-graph', {params: {graph: g}})
                            .success(function (graph) {
                                $scope.graph = graph;
                                $scope.updateGraph();
                            });
                }

                $scope.uploadedFile = function () {
                    if (!$scope.file) {
                        window.alert('File invalid');
                        return;
                    }
                    var fr = new FileReader();
                    fr.onload = function (e) {
//                        console.log(e);
                        var fileName = $scope.file.name.toLowerCase();
                        if (fileName.endsWith(".json")) {
                            var graph = JSON.parse(e.target.result);
                            if (!graph || !graph.vertices || !graph.pairs) {
                                window.alert('File format invalid');
                                return;
                            }
                            $scope.graph = graph;
                        } else if (fileName.endsWith(".csr")
                                || fileName.endsWith(".mat") || fileName.endsWith(".g6") || fileName.endsWith(".es")) {
                            var url = 'rest/graph/upload-file-graph';
                            var fd = new FormData();
                            fd.append("file", e.target.result);
                            fd.append("fileName", $scope.file.name);
                            $http.post(url, fd, {headers: {'Content-Type': undefined}}).success(function (graph) {
                                $scope.graph = graph;
                            });
                        } else {
                            window.alert('File invalid');
                            return;
                        }
                        if ($scope.graph) {
                            if (!$scope.graph.name) {
                                $scope.graph.name = $scope.file.name;
                            }
                            $scope.updateGraph();
                        }
                    };
//                    console.log('Scope.file');
//                    console.log($scope.file);
                    fr.readAsText($scope.file);
                };
                $scope.updateGraph = function () {
                    var graph = $scope.graph;
                    var width = $("#grafo").width();
                    var height = $("#grafo").height();
                    console.log('graph: ');
                    console.log(graph);
                    $("#grafo").html('');
                    
                    var selected_node = null;
                            
                    var color = d3.scale.category20();
                    
                    var force = d3.layout.force()
                            .charge(-120)
                            .linkDistance(250)
                            .size([width, height]);

                    var drag = force.drag()
                            .on("dragstart", dragstart);

                    var svg = d3.select("#grafo")
                            .append("svg")
                            .attr("width", width)
                            .attr("height", height);

                    var vertex = graph.normalizedVertices.map(function (d) {
                        return {"name": graph.vertices[d] + (graph.vertices[d] != d ? " (" + d + ")" : ""), "group": 1};
                    });

                    var edges = graph.normalizedPairs.map(function (d) {
                        return {"source": d[0], "target": d[1], "value": 2, "origin": d, "left": true, "right": true};
                    });
                    force.nodes(vertex).links(edges).start();

                    var link = svg.selectAll(".link")
                            .data(edges)
                            .enter().append("line")
                            .attr("class", "link")
                            .attr("class", function (d) {
                                return 'link ' + 'source-' + d.source.name + ' target-' + d.target.name;
                            })
                            .style("stroke-width", function (d) {
                                return Math.sqrt(d.value);
                            });

                    var nodes = svg.selectAll(".node")
                            .data(vertex)
                            .enter().append("g")
                            .attr("class", "node")
                            .on("click", singclick)
                            .on("dblclick", dblclick)
                            .call(force.drag);
                    
                    nodes.append("circle")
                            .attr("class", "node")
                            .attr("r", 5)
                            .style("fill", function (d) {
                                if(d === selected_node)
                                    return d3.rgb(color(d.group)).darker().toString();
                                return color(d.group);
                            }).call(force.drag);
                    nodes.append("text").attr("dx", 6)
                            .attr("dy", ".35em")
                            .text(function (d) {
                                return d.name;
                            });
                    force.on("tick", function () {
                        link.attr("x1", function (d) {
                            return d.source.x;
                        }).attr("y1", function (d) {
                            return d.source.y;
                        }).attr("x2", function (d) {
                            return d.target.x;
                        }).attr("y2", function (d) {
                            return d.target.y;
                        });
                        nodes.attr("transform", function (d) {
                            return "translate(" + d.x + "," + d.y + ")";
                        }).attr("cx", function (d) {
                            return d.x;
                        }).attr("cy", function (d) {
                            return d.y;
                        });
                    });
                    function dblclick(d) {
                        d3.select(this).classed("fixed", d.fixed = false);
                        selected_node = null;
                    }
                    
                    function singclick(d) {
                        console.log('select: ');
                        console.log(d);

                        if(selected_node !== null){
                            console.log(selected_node);
                            d3.select('.last_selected').classed("node_selected", false);
                        }
                        selected_node = d;
                        d3.select(this).classed("node_selected", true);
                        d3.select(this).classed("last_selected", true);

                        console.log('ok');
                    }

                    function dragstart(d) {
                        d3.select(this).classed("fixed", d.fixed = true);
                    }
                    
                    function keydown() {
                      d3.event.preventDefault();
                      console.log('keydown: ');

                      if (!selected_node) return;

                      switch (d3.event.keyCode) {
                        case 46: // delete
                          if (selected_node) {
                              console.log('remove:');
                              console.log(selected_node);
                              console.log('from:');
                              console.log(vertex);
                              console.log('remove links ');
                              //vertex.remove(selected_node);
//                            nodes.splice(nodes.indexOf(selectedNode), 1);
//                            spliceLinksForNode(selectedNode);
                              d3.select('.last_selected').remove();
                              d3.select('.target-'+selected_node.name).remove();
                              d3.select('.source-'+selected_node.name).remove();  
                          }
                          selected_node = null;
                          //restart();
                          break;
                      default:
                          break;
                      }
                    }
                    
                    d3.select(window).on('keydown', keydown);
                };
                $scope.generateGraph = function () {
                    $scope.mapParam['key'] = $scope.typeGraph.key;
                    $http.get('rest/graph/generate-graph',
                            {
                                params: $scope.mapParam
                            }
                    ).success(function (graph) {
                        $scope.graph = graph;
                        $scope.updateGraph();
                    });
                };
                $scope.executeOperation = function () {
                    $scope.graph.inputData = $scope.inputData;
                    if ($scope.inputData)
                        $scope.graph.set = $scope.inputData.split(',').map(Number);
                    $scope.outputConsole = ['Processing...'];
                    $scope.graph.operation = $scope.operation;
                    $scope.processing = true;
                    $http.post('rest/graph/operation', $scope.graph).success(function (caratheodorydata) {
                        $scope.pollerConsoleOutput();
                        $scope.caratheodory = caratheodorydata;
                        $scope.processing = false;
                        $scope.outputConsole = [''];
                        if (caratheodorydata) {
                            $scope.mapResult = new Map();
                            Object.keys(caratheodorydata).forEach(function (key) {
                                $scope.mapResult[key] = caratheodorydata[key];
                            });
                        }
                    }).error(function (err) {
                        $scope.processing = false;
                        window.alert('Error: ' + err);
                    });
                };
                $scope.batchExecuteOperation = function () {
                    $scope.graph.inputData = $scope.inputData;
                    if ($scope.inputData)
                        $scope.graph.set = $scope.inputData.split(',').map(Number);
                    $scope.outputConsole = ['Processing...'];
                    $scope.graph.operation = $scope.operation;
                    $scope.processing = true;
                    $http.post('rest/graph/batch-operation', $scope.graph).success(function (caratheodorydata) {
                        $scope.pollerConsoleOutput();
                        $scope.caratheodory = caratheodorydata;
                        $scope.processing = false;
                        $scope.outputConsole = [''];
                        if (caratheodorydata) {
                            $scope.mapResult = new Map();
                            Object.keys(caratheodorydata).forEach(function (key) {
                                $scope.mapResult[key] = caratheodorydata[key];
                            });
                        }
                    }).error(function (err) {
                        $scope.processing = false;
                        window.alert('Error: ' + err);
                    });
                };
                $scope.cancelOperation = function () {
                    $http.post('rest/graph/process-cancel').success(function (result) {
                        $scope.processing = false;
                    }).error(function (err) {
                        $scope.processing = false;
                        window.alert('Error: ' + err);
                    });
                };
                $http.get('rest/graph/list-graph-generator').success(function (gen) {
                    $scope.generators = gen;
                });
                $http.get('rest/graph/list-result').success(function (rs) {
                    $scope.results = rs;
                });
                $http.get('rest/graph/list-graph-operation').success(function (ops) {
                    $scope.operations = ops;
                    if (ops) {
                        var op;
                        $scope.typeOperations = new Set();
                        ops.forEach(function (value) {
                            $scope.typeOperations.add(value.value);
                            $scope.typeOperation = value.value;
                        });
                        $scope.typeOperations = Array.from($scope.typeOperations);
                    }
                });
                $scope.generateGraph();
                $scope.pollerConsoleOutput = function () {
                    $http.post('rest/graph/process-status', $scope.lastProcessing).success(function (r) {
                        $scope.processing = r.processing;
                        if (r.last) {
                            $scope.lastProcessing = r.last;
                        }
                        if (r.output)
                            for (var i = r.output.length - 1; i >= 0; i--) {
                                $scope.outputConsole.push(r.output[i]);
                            }
                        if (r.result) {
                            $scope.mapResult = new Map();
                            Object.keys(r.result).forEach(function (key) {
                                $scope.mapResult[key] = r.result[key];
                            });
                            $http.get('rest/graph/list-result').success(function (rs) {
                                $scope.results = rs;
                            });
                        }
                        if ($scope.processing)
                            $timeout($scope.pollerConsoleOutput, 10000);
                        else
                            $timeout($scope.pollerConsoleOutput, 100000);
                    });
                };
                $scope.pollerConsoleOutput();
            });
            app.directive("ngFileSelect", function () {
                return {
                    link: function ($scope, el) {
                        el.bind("change", function (e) {
                            var file = (e.srcElement || e.target).files[0];
                            $scope.file = file;
                        });
                    }
                };
            });
        </script>
    </body>
</html>
